@charset "ISO-8859-1";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

}

body {
	background: #047b8a;
	height: 100vh;
	width:100%;
}

header{
	height: 10%;
    border-bottom: groove #047b8a 6px;
    background-image: linear-gradient(to bottom left, #006370, #8F5525);
    text-align: center;
  	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

nav{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    align-content: center;
   
}

.pageNav{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

form{
	padding: 30px 50px;
	background-color: #8f9091;
	border: groove #808080 6px;
	border-radius: 25px;
}

.inputUser{
	border: 2px groove black;
	height: 2em;
	border-radius: 5px;
	
}
.inputButton{
	height: 25px;
    width: 60px;
    font-family: emoji;
    font-weight: bold;
    border-radius: 25px;
}

footer{
	position: absolute;
	bottom: 0;
}

h3{
	padding: 30px 50px;
	background-color: #8f9091;
	border: groove #808080 6px;
	border-radius: 25px;
}

h4{
	text-transform: uppercase; 
}

.latestSearch{
	display: flex;
	flex-direction: column;
	height:100%;
	
}

.customP{
	height: 100px; 
}

.cookieConsent{
	position: absolute;
	left:38%;
	bottom: 0;
	padding: 30px 50px;
	background-color: #808000;	
	border-radius: 0;
	animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.dontDisplay{
	display:none;
	position: none;
	left:0;
	bottom: 0;
	padding: 0;
	background-color: none;	
	border-radius: 0;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}